body{
	margin: 0;
	padding: 0;
	font-family: "Arial";
}

.none{
	display: none !important;
}

h1{
	text-align: center;
	border-bottom: 1px solid #000;
}
td a{
	color: black;
	text-decoration: none!important;
}
td a:hover{
	text-decoration: underline;
}
table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.form-group{
	display: flex;
	flex-direction: column;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
	text-align: center;
}

table td{
	padding: 10px 10px;
	border: 1px solid #eee;
	text-align: center;
	position: relative;
}


.btn-danger{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.175rem .75rem !important;
}


table tbody tr{
	background: #F7F7F7;
}

.buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
	width: 70%;
}

.buttons #myInput{
	width: 80%;
}


.popUp{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	height: 200px;
	

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;

	border-radius: 3px;
	background-color: #5a6268;
	color: #fff;
	font-size: 20px;
}

.overlay{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #23272b;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	opacity: 0.6;
}

/* Стили координат */

 
body{
	margin: 0;
	padding: 5px;
 }

 .none{
	 display: none !important;
 }
 
 .addInputs{
	margin: 20px;
	display: flex;
	align-items: center;
 }
 
 .addInputs .edit-tp{
	position: static;
	margin: 0 20px;
 }
 
 .inputs{
	margin-top: 40px;
	height: 100px;
	max-height: 100px;
 }
 
 .name{
	border: 1px solid #000;
	position: absolute;
	left: 20px;
	top: -20px;
	
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	z-index: 150;
	background-color: #fff;
	text-align: center;
 }
 
 .abs{
	display: inline-block;
	position: absolute;
	z-index: 100;
	top: 100px;
	left: 10px;
 }
 
 .abs::after{
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #007bff;
	position: absolute;
	right: -5px;
	top: -5px;
	border-radius: 50%;
	cursor: grab;
 }

 .none--after::after{
	 display: none;
 }
 
 .edit{
	position: absolute;
	left: -5px;
	top: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
 }

 .btn{
	 margin: 0 10px;
 }
 
 .text{
	position: absolute;
	line-height: 38px;
	width: 195px;
	height: 38px;
	text-align: center;
	z-index: -1;
}
 
 

/*  Картинка */
 .download{
	margin: 50px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
 }
 
 .download--zone{
	display: flex;
	align-items: center;
	justify-content: space-around;
 }

 .download--image{
	 margin-top: 50px;
 }

 
 
 
